<%= render "layouts/jumbotron" %>

<div class="container-fluid">
  <% @tools.each do |tool| %>
  <div class="container col-md-4 tool-card">
    <div class="tool-card-image thumbnail">
      <%= image_tag(tool.image_path,  class: "img-responsive", alt: "#{tool.name} image") %>
    </div>
    <div class="caption <%= "#{tool.name} image" %>">
      <h4><%= link_to tool.name, tool_path(tool.id) %></h4>
      <p><%= tool.description %></p>
      <p><%= number_to_currency(tool.price, :precision => 2) %></p>
      <div class="pull-right">
      <% if tool.out_of_stock? %>
        Out of Stock
      <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
