<div class="jumbotron">
  <div class="jumbo-text">Rent the Tools You Need</div>
  <p class="jumbo-p">Need a tool? We have that tool.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div class="container-fluid">
  <% @tools.each do |tool| %>
  <div class="item col-xs-12 col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag(tool.image_path, :alt => "#{tool.name} image") %>
      <div class="caption">
        <h4 class="group inner list-group-item-heading">
         <%= tool.name %></h4>
         <p class="group inner list-group-item-text">
          <%= tool.description %></p>
        <div class="row">
            <div class="col-xs-12 col-md-6">
              <p class="lead">
               <%= tool.price %></p>
             </div>
            <div class="cart-button btn btn-info btn-sm pull-right <%= tool.name %>">
              <%= link_to "Add to Cart", cart_tools_path(tool: tool.id), method: "post" %>
            </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>