<div class="tool-show col-md-6 col-md-offset-1 rounded">
	<div class="tool-show-image">
		<%= image_tag(@tool.image_path,  class: "img-responsive rounded", alt: "#{@tool.name} image") %>
	</div>
	<div class="caption">
		<h2><%= @tool.name %></h2>

		<h4><%= @tool.description %></h4>
		<h4><%= number_to_currency(@tool.price, precision: 2) %></h4>

		<% if @tool.out_of_stock? %>
			Out of Stock
		<% else %>
			<%= form_for :date do |f| %>
				<%= date_select('reserve_date', 'date') %>
				<div class="btn btn-one btn-sm"><%= f.submit "Add to Cart" %> </div>
			<% end %>
		<% end %>

	</div>
</div>
