<div class="user-info container col-md-10 col-md-offset-1 rounded">
  <h1>Welcome, <%= @user.first_name %></h1>
  <% if @user.admin? %>
    <div class="btn btn-one"><%= link_to "View All Homes", admin_homes_path %> </div>
    <div class="btn btn-one"><%= link_to "View All Owners", admin_owners_path %> </div>
    <div class="btn btn-one"><%= link_to "View All Users", admin_users_path %> </div>
  <% end %>
	<div class="btn btn-one"> <%= link_to "Add a Home", new_user_home_path(@user.slug) %> </div>
  <% if @user.home_owner? %>
	  <div class="btn btn-one"> <%= link_to "View Your Homes", user_homes_path(@user.slug) %> </div>
  <% end %>
	<div class="btn btn-one"> <%= link_to "Edit Account", edit_user_path(@user.slug) %> </div></h1>
  <div class="btn btn-one"> <%= link_to "Delete Account", user_path(@user.slug), method: :delete %> </div></h1>
</div>

<div class="container">
	<h4>Upcoming Reservations: </h4>
	<table class="table upcoming-reservations">
		<thread>
			<th>Home Name</th>
			<th>Address</th>
			<th>Check In</th>
			<th>Check Out</th>
		</thread>
		<tbody>
			<% @user.upcoming_reservations.each do |reservation| %>
				<tr>
					<td><%= reservation.home.name %></td>
					<td><%= reservation.home.address %></td>
					<td><%= reservation.checkin %></td>
					<td><%= reservation.checkout %></td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<h4>Past Reservations: </h4>
	<table class="table past-reservations">
		<thread>
			<th>Home Name</th>
			<th>Address</th>
			<th>Check In</th>
			<th>Check Out</th>
		</thread>
		<tbody>
			<% @user.past_reservations.each do |reservation| %>
				<tr>
					<td><%= reservation.home.name %></td>
					<td><%= reservation.home.address %></td>
					<td><%= reservation.checkin %></td>
					<td><%= reservation.checkout %></td>
				</tr>
      <% end %>
		</tbody>
	</table>

	<% unless @user.homes.empty?  %>
		<h4>Your Homes' Upcoming Reservations: </h4>
		<table class="table homes-upcoming-reservations">
			<thread>
				<th>Home Name</th>
				<th>Address</th>
				<th>Check In</th>
				<th>Check Out</th>
			</thread>
			<tbody>
				<% @user.homes.each do |home| %>
					<% home.upcoming_reservations.each do |reservation| %>
						<tr>
							<td><%= reservation.home.name %></td>
							<td><%= reservation.home.address %></td>
							<td><%= reservation.checkin %></td>
							<td><%= reservation.checkout %></td>
						</tr>
					<% end %>
				<% end %>
			</tbody>
		</table>
		<h4>Your Homes' Past Reservations: </h4>
		<table class="table homes-past-reservations">
				<thread>
					<th>Home Name</th>
					<th>Address</th>
					<th>Check In</th>
					<th>Check Out</th>
				</thread>
				<tbody>
					<% @user.homes.each do |home| %>
						<% home.past_reservations.each do |reservation| %>
							<tr>
								<td><%= reservation.home.name %></td>
								<td><%= reservation.home.address %></td>
								<td><%= reservation.checkin %></td>
								<td><%= reservation.checkout %></td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>
		<% end %>
	</div>
</div>
