<div class="container-fluid cart-box col-md-offset-1 col-md-10 rounded">
  <h2>Order #<%= @order.id %>, <%= (@order.status + ", ") if @order.status %> placed on <%= @order.created_at.strftime("%A, %b %d, %Y") %><br>
  	<% if @order.closed_at %>
  <%= "#{@order.status} at: #{@order.closed_at}" %>
<% end %>
  </h2>
  <% @order.order_tools.each do |order_tool| %>
  	<% tool = order_tool.tool %>
    <div class="row cart-row <%= tool.name %>">
    <div class="col-md-3">
      <%= image_tag(tool.image_path, :alt => "#{tool.name} image", class: "cart-image") %>
    </div>
    <div class="col-md-3">
      <%= link_to "#{tool.name}", tools_path(tool.id) %><br>
      <%= tool.description %>
    </div>
    <div class="col-md-2 cart-col">
      Price:<br>
      <%= number_to_currency(tool.price, :precision => 2) %>
    </div>
    <div class="col-md-1 cart-col">
      Quantity:<br>
		<%= order_tool.quantity %>
    </div>
    <div class="col-md-1 cart-col">
      Subtotal: <%= number_to_currency(order_tool.subtotal, :precision => 2) %>
    </div>
  </div>
  <% end %>
</div>
<div class="col-md-offset-1 col-md-9 cart-total">
  Order Total: <%= number_to_currency(@order.total, :precision => 2) %>
</div>

<% link_to "Past Orders", orders_path %>