<h1>"Order was successfully placed"</h1>

Order <%= @order.id %>

<% @order.order_tools.each do |line_item| %>
  <%= link_to "#{line_item.tool.name}", tools_path(line_item.tool.id) %><%= ", Quantity: #{line_item.quantity}, Subtotal: #{line_item.subtotal}" %>
<% end %>
Order status: <%= @order.status %>

Order total: <%= @order.total %>

Submitted at: <%= @order.created_at %>

<% if @order.closed_at %>
  <%= "#{@order.status} at: #{@order.closed_at}" %>
<% end %>
