<div class="container">
<div class="col-md-offset-2 col-md-8 cart-container">
  <h2>Shopping Cart:</h2>

  <table class="table">
    <th>Home Name</th>
    <th>Checkin Date</th>
    <th>Checkout Date</th>
    <th>Total Days</th>
    <th>Price Per Night</th>
    <th>Subtotal</th>
    <% @contents.each do |reservation| %>
      <tr class="home-<%= reservation.id %>">
        <td><%= reservation.name %></td>
        <td><%= reservation.checkin %></td>
        <td><%= reservation.checkout %></td>
        <td><%= reservation.total_days %></td>
        <td><%= number_with_precision(reservation.price_per_night, precision: 2) %></td>
        <td><%= number_with_precision(reservation.total, precision: 2) %></td>
        <td><div class="btn btn-one"><%= link_to "Remove From Cart", cart_path(reservation), method: "delete" %></div></td>
      </tr>
    <% end %>
  </table>
  <p class="total cart-total right">Total: <%= number_with_precision(@cart.total, precision: 2) %></p>
  <div class="center">
    <% if current_user %>
      <div class="btn btn-one"><%= link_to "Checkout Now", orders_path, method: "post" %></div>
    <% else %>
      <p class="total">To Checkout</p>
      <div class="btn btn-one"><%= link_to "Login", login_path %></div>
      <span class="total">or</span>
      <div class="btn btn-one"><%= link_to "Signup", new_user_path %></div>
    <% end %>
  </div>
</div>
</div>
