<div class="container-wrapper">
  <div class="container">
    <% @homes.each_slice(3) do |three_homes| %>
      <div class="row">
        <% three_homes.each do |home| %>
          <div class="col-md-4">
            <div class="card">
              <a href="/<%= home.user.slug %>/homes/<%= home.id %>">
                <div class="card-img-top">
                    <%= render partial: "user/homes/carousel", locals: { home: home } %>
                </div>
              </a>
              <div class="card-block">
                <h6 class="card-title home-name"><%= home.name %></h6>
                  <%= link_to "$#{number_with_precision(home.price_per_night, precision: 2)} Per Night", user_home_path(home.user.slug, home), class: "center price btn btn-one btn-wide center-block" %>
                </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
