<div id="background">

  <h1 class="center tagline">Find your tiny home today</h1>

  <div class="tag-search center container">
    <div class="row">

    <%= form_tag homes_path, method: :get, class: "form-group center" do %>
    <div class="dates" data-reserved=""></div>

      <div class="col-md-2 col-md-offset-2">
        <%= location_search_form %>
      </div>
      <div class="col-md-2">
        <%= checkin_search_form %>
      </div>
      <div class="col-md-2">
        <%= checkout_search_form %>
      </div>
      <div class="col-md-2">
        <%= submit_tag "Search", class: "btn btn-one btn-wide" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
