<div id="carousel-home-<%= home.id %>" class="carousel slide" data-ride="carousel" data-interval="false">
  <ol class="carousel-indicators">
    <% home.photos.each_with_index do |index, photo| %>
      <li data-target="#carousel-home-<%= home.id %>" data-slide-to="0"></li>
    <% end %>
  </ol>
  <div class="carousel-inner" role="listbox">
    <% home.photos.each do |photo| %>
      <div class="carousel-item <%= determine_active_photo(photo, home.photos) %>">
        <img src="<%= photo.image.url %>" alt="slide" class="slide-img">
      </div>
    <% end %>
  </div>
  <a class="left carousel-control" href="#carousel-home-<%= home.id %>" role="button" data-slide="prev">
    <span class="icon-prev" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-home-<%= home.id %>" role="button" data-slide="next">
    <span class="icon-next" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
