<div class="container">

  <h1 class="form-label">Edit <%= @home.name %></h1>

  <div class="bootstrap-form">
    <div class="col-md-6 col-md-offset-3">
      <%= bootstrap_nested_form_for [@user, @home], method: :patch do |f|%>

        <%= f.text_field :name, placeholder: "Name" %>
        <%= f.text_area :description, placeholder: "Description" %>
        <%= f.text_field :price_per_night, id: "price", prepend: "$", append: ".00" %>
        <%= f.text_field :address, placeholder: "Address", id: "address" %>
        <%= f.fields_for :photos %>
          <%= f.link_to_add "Add a photo", :photos, class: "btn btn-one" %><br>
        <%= f.submit "Edit Home", class: "btn btn-one center-block button-margin" %>
        
      <% end %><br>

    </div>
  </div>
</div>
