<h1>Homes for <%= @user.username %></h1>
<div class="container">
  <% @user.homes.each do |home| %>
    <div class="col-md-4">
<div class="card">
  <div class="card-block">
    <h4 class="card-title"><%= home.name %></h4>
    <p class="card-text"><%= home.description %></p>
    <%= link_to "Reserve Now", user_home_path(@user.slug, home), class: "btn btn-primary" %>
    <% if @user == current_user %>
      <%= link_to "Edit Home", edit_user_home_path(@user.slug, home) %>
    <% end %>
  </div>
</div>
</div>
<% end %>
</div>
