<div id="new-home">
  <h1>Create a New Home</h1>
  <div class="container">
    <div class="jumbotron">
      <%= nested_form_for [:user, @home] do |f|%>
        <%= f.text_field :name, placeholder: "Name" %> <br>
        <%= f.text_field :description, placeholder: "Description" %> <br>
        <%= f.text_field :price_per_night, placeholder: "Price per night" %> <br>
        <%= f.text_field :address, placeholder: "Address" %> <br>
        <%= f.fields_for :photos %> <br>
        <%= f.link_to_remove "Remove this photo" %>
        <p><%= f.link_to_add "Add a photo", :photos %></p>
        <%= f.submit "Create Home", class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
