<div class="container new-form">
  <h1><%= @home.name %></h1>
  <img src="<%= @home.photos.first.image.url %>" height="300" width="500">
  <p><b>Description: </b><%= @home.description %></p>

  <h5>Price per night: <%= @home.price_per_night %></h5>

  <%= form_for :date do |f| %>
    <%= date_select('checkin_date', 'date') %>
    <%= date_select('checkout_date', 'date') %>
    <%= f.submit "Add to Cart", class: "btn btn-one btn-sm" %>
  <% end %>
</div>
