<div class="container">
  <table class="table">
    <thread>
      <th>User</th>
      <th>User Dashboard</th>
      <th>User Homes</th>
    </thread>
    <tbody>
      <% @users.each do |user| %>
      <tr class="user-<%= user.id %>">
      <td><%= user.username %></td>
      <td><%= link_to "User Dashboard", dashboard_path(user.slug) %></td>
      <td><%= link_to "User Homes", user_homes_path(user.slug) %></td>      
      <td><%= link_to "Edit", edit_user_path(user) %></td>
      <td><%= link_to "Delete", user_path(user), method: "delete" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

