<nav class="navbar navbar-dark bg-inverse">

	<div class="logo">
		<%= link_to "tiny stay", root_path %>
	</div>

	<ul class="nav navbar-nav pull-xs-right">

		<li class="nav-item nav-search">
			<% unless current_page?(root_path) %>
				<%= form_tag homes_path, method: :get, class: "form-group form-inline" do %>
			    <%= nav_search_field %>
			    <%= nav_search_button %>
			  <% end %>
			<% end %>
		</li>

	  <li class="nav-item">
	  	<%= dashboard_link(current_user) %>
	  </li>

	  <li class="nav-item">
			<%= link_to_login_or_logout(current_user) %>
		</li>

	  <li class="nav-item">
			<a href="/cart" class="nav-link">
	      <%= pluralize(@cart.quantity, "Reservation") %> - <%= price(@cart.total) %>
			</a>
		</li>

	</ul>
</nav>
